node_modules
dist
.vscode/
ng2-string-replace-pipes/
.tmp/
bundles/
ng2-string-replace-pipes.d.ts
ng2-string-replace-pipes.js
ng2-string-replace-pipes.js.map
ng2-string-replace-pipes.metadata.json
*.js
*.d.ts
*.js.map
*.metadata.json
!gulp-tasks/**/*.js
!gulpfile.js
!bundlefile.js
!tasks-config.js
.tmp/
npm-debug.log*
ngfactory/
ng2-base/
!ng2-base/index.ts
src/ng2-base*
ng2-base.ts
bundles/

ngx-string-replace-pipes/